 .App {
  background-color: #fff;
  min-height: 100vh;
} 

.container{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 3rem;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 40%;
}

.insert{
  margin: 1rem;
}

.list{
  margin: 2rem;
}

.form{
  margin: 1rem;
  width : 100%;
}

@media screen and (max-width: 900px){
  .header{
    width: 50%;
  }
}

@media screen and (max-width: 500px){
  .header{
    width: 60%;
  }
  .header h3{
    font-size: 20px;
  }
}



